name: update all forks

on:
  workflow_dispatch:

  schedule:
    # * is a special character in YAML, so you have to quote this string
    # every day
    - cron:  '0 23 * * *'
  
jobs:
  update-forks:
    name: update forks
    if: |
      github.repository == 'iobroker-archive/.admin'
      
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm i
      - run: npm run updateForks
        env:
          OWN_GITHUB_TOKEN: ${{ secrets.OWN_GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.OWN_GITHUB_TOKEN }}
